<h1>
  Upload ypur file here
</h1>

<form action="/" enctype="multipart/form-data" method="post">
  <input type="file" name="filename" accept=".csv ">
  <input type="submit" value="Upload">
</form>

<h1><a href="/file">View ALl Files</a></h1>