<html>

<head>
    <link rel="stylesheet" href="\css\header.css">

</head>

<body>

    <%- include('_header'); %>

    <main id="layout-main">
        <%- body %>
    </main>
</body>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</html>